/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f9fa; 
}

.menu {
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu img {
    width: 50px;
}

.menu__logo-title {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu__button a {
    margin-right: 20px;
    text-decoration: none;
    padding: 15px;
    background: #28a745;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.menu__button a:hover {
    background-color: #218838;
}

hr {
    border: none; 
    height: 1px; 
    background: rgba(0, 0, 0, 0.1); 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
}

.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-width: 1300px;
}

.feedback-slider {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1000px; 
    overflow: hidden;
}

.feedback-cards {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease; 
}

.feedback-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: calc(100% / 3 - 10px); 
    min-width: 320px;
}

.arrow {
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

/* Icons */
.feedback-card__profile img{
    width: 25px;
}

.feedback-card__category img {
    width: 25px;
}

.feedback-card__profile {
    display: flex;
    gap: 15px;

    margin-bottom: 10px;
}

.feedback-card__profile p {
    font-weight: 600;
}

.feedback-card__category {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-top: 15px;
}


